.detailArticle{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}
.movieDetail{
    color: white;
    text-align: left;
    font-size: 30px;
}

.data {
    border: solid 2px white;
    color: white;
    width: 60%;
    margin: 30px;
    text-align: justify;
    padding: 20px;
}
img{
    text-align: center;
}
.dataDetail{
    color: white;
    text-align: justify;
    font-size: 20px;
}

.genero {
    list-style: none;
    display: inline;
    padding-left:3px;
    padding-right:3px;

}

.fav {
    font-size: 40px;
}