.detailArticle{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}
.movieDetail{
    color: aliceblue;
    text-align: left;
}

.data {
    border: solid 2px white;
    color: aliceblue;
    width: 50%;
    margin: 30px;
    text-align: center;
}

.dataDetail{
    color: aliceblue;
}