
 * {
    font-family: 'Oxygen', sans-serif;
    background-color: black;
 }
 .contenedor-card{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;
}
.form{
   color: antiquewhite;
}
 .h1{
    color: antiquewhite;
 }
 
 