.contenedor-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
 }

 * {
    font-family: 'Oxygen', sans-serif;
    background-color: black;
 }
 
 