
 * {
    font-family: 'Oxygen', sans-serif;
    background-color: black;
 }
 .contenedor-card{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;
}
form input {
   border-radius: 20px;
   font-size: 25px;
   border-color: 0px;
   color: antiquewhite;

}
 .h1{
    color: antiquewhite;
 }
 
 