.detailArticle {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.movieDetail {
    color: white;
    text-align: left;
    font-size: 30px;
}

.data {
    display: flex;
    flex-direction: column;
    border: solid 2px white;
    color: white;
    width: 60%;
    margin: 30px;
    padding: 20px;
    text-align: center;

}

img {
    text-align: center;
}

.dataDetail {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.genero {
    list-style: none;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;

}

.agregarSacar {
   color: white;
   font-size: medium;
}

.agregarSacar:hover {
    background-color: #008CBA;
    color: white;
}