/*.logo { 
    border-radius: 50%;
    width: 70%;
}*/

.main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.main-nav li {
    width: 7%;
    list-style: none;
}