.header-padre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 7px white;

}

.nav-header {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.ul-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-left: 5%;
}

.main-nav li {
    list-style: none;
}



.MacmuvyLogo {
    max-height: 180px;
    padding-left: 100px;

}

.Link {
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}

.Link:hover {
    color: rgb(82, 79, 79);
}