.contenedor-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
 }
 .form{
    color: white;
 }
  .h1{
     color: white;
  }

  h1.noHayFav {
   color: white;
   text-align: center;
   font-size: 50px;
   margin: 10%;
  }